################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SurviveGameNewNew/Debug
/SurviveGameNewNew/Release
/SurviveGameNewNew/.vs
/.vs
/.git
/SurviveGameNewNew/SurviveGameNewNew/Debug
/SurviveGameNewNew/SurviveGameNewNew/Release
/SurviveGameNewNew/SurviveGameNewNew/data
/SurviveGameNewNew/OK
/Other
/.vscode
/SurviveGameNewNew/SurviveGameNewNew/MyObject.h
/SurviveGameNewNew/SurviveGameNewNew/MyClasses/MyVertexBuffer.cpp
/SurviveGameNewNew/SurviveGameNewNew/MyClasses/MyVertexBuffer.h
/SurviveGameNewNew/SurviveGameNewNew/MyWidgets/Save/MySaveInfoView.cpp
/SurviveGameNewNew/SurviveGameNewNew/MyWidgets/Save/MySaveInfoView.h
/SurviveGameNewNew/SurviveGameNewNew/x64/Release
