################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SurviveGameNewNew/Debug
/SurviveGameNewNew/Release
/SurviveGameNewNew/.vs
/.vs
/.git
/SurviveGameNewNew/SurviveGameNewNew/Debug
/SurviveGameNewNew/SurviveGameNewNew/Release
/SurviveGameNewNew/SurviveGameNewNew/texture/test2.png